<!-- Navigation -->
nav class= main_nav id= main_nav_id
  . class= container
    <!-- Brand and toggle get grouped for better mobile display -->
    = menu_button

    <!-- Collect the nav links, forms, and other content for toggling -->
    . class="collapse navbar-collapse" id= collapse_id
      = menu_list
